html, body {
    height: 100%; /* Устанавливаем высоту всего документа на 100% */
    margin: 0; /* Убираем стандартные отступы */
    overflow: hidden; /* Убираем скроллбары */
    background-color: rgb(0,0,20);
    color: #F6F4E1;
}

body h1{
    text-align: center;
}


.header {
    background-color: rgb(3, 8, 37);
    color: #F6F4E1;
    padding: 20px;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex; /* Add this line */
    flex-direction: row; /* Add this line */
    justify-content: center;
}
.header h1 {
    margin: 0;
}
.header a {
    display: flex;
    font-size: 30px;
    justify-content: center;
    margin: 0 100px;
    color: #F6F4E1;
    text-decoration: none;
}

.map-image img {
    height: 1080px;
    object-fit: cover; /* Растягиваем карту для заполнения контейнера */
    position: relative;
    transition: transform 0.25s ease;
}

.map-image {
    overflow: hidden; /* Убираем скроллбары для контейнера */
    position: relative; /* Относительное позиционирование для позиционирования карты */
    /* object-fit: cover; Растягиваем карту для заполнения контейнера */
    position: absolute; /* Абсолютное позиционирование для масштабирования и панорамирования */
    top: 0; /* Выравниваем карту по верху контейнера */
    left: 0; /* Выравниваем карту по левому краю контейнера */
}


.marker {
    position: absolute;
    transition: transform 0.25s ease; /* Плавность масштабирования */
    /* transform-origin: center; Центр масштабирования */

    /* position: absolute; */
    cursor: pointer;
    width: 10px; /* Размер кружка */
    height: 10px;
    background-color: rgb(130, 28, 28); /* Цвет кружка */
    border-radius: 50%; /* Делает метку круглой */
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-box {
    z-index: 2;
    color: #F6F4E1;
    display: none;
    position: absolute;
    background-color: rgb(4, 4, 56);
    border: 1px solid black;
    padding: 10px;
    white-space: nowrap;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 0;
    
    /* Выравнивание .info-box относительно маркера */
    left: 20px; /* Центрирование относительно маркера по горизонтали */
    top: 100%; 
}

.info-box img{
    width: 300px;
    height: 300px;
}
.pics{
    width: 600px;
    height: 600px;
}


.info-box h1 {
    text-align: center;
}

.info-box * {
    margin: 0;
    padding: 0;
    line-height: 1; /* Минимизирует межстрочный интервал */
}

.marker:hover .info-box {
    display: block;
}

/* style.css */

.doc-text {
    padding-top: 70px;
    overflow: auto;
    font-family: Arial, sans-serif;
    color: #F6F4E1;
    margin: 0 auto;
    align-self: center;
    text-align: center;
    max-width: 1000px; /* максимальная ширина, подобно Google Docs */
    /* padding: 20px; отступы вокруг текста */

}

.doc-text h1 {
    color: navy;
    font-size: 24px;
}

.doc-text h2 {
    color: navy;
    font-size: 20px;
}

.doc-text p {
    text-align: justify;
    line-height: 1.6;
}

.doc-text em {
    font-style: italic;
}

.doc-text strong {
    font-weight: bold;
}

.doc-text ul,
.doc-text ol {
    margin-left: 20px;
}

.doc-text a {
    color: blue;
    text-decoration: none;
}

.doc-text a:hover {
    text-decoration: underline;
}

/* Дополнительные стили по необходимости */
